html
  head
    link(rel="stylesheet", href="../stylesheets/forms.css")
    link(rel="stylesheet", href="../stylesheets/globals.css")
    link(rel="stylesheet", href="../stylesheets/grid.css")
    link(rel="stylesheet", href="../stylesheets/ie.css")
    link(rel="stylesheet", href="../stylesheets/mobile.css")
    link(rel="stylesheet", href="../stylesheets/typography.css")
    link(rel="stylesheet", href="../stylesheets/ui.css")
    link(rel="stylesheet", href="../stylesheets/app.css")
  body
    .title-page
      H1 TITLE
      .program-details
        | Repository: #{program.repo} <br />
        | Environment: #{program.env} <br />
        | From Date: #{program.from} <br />
        | From Date: #{program.to}
    .release-summary    
      h2 Release Summary
      each server in servers
        p <b><b>Server:</b> #{server.name}
        ul
          each app in server.applications
            li= app.name
    each app in apps
      .application
        h2= app.name
        p #{app.description} 
        if app.env&&app.env.database
          h3 Database Info
          p <b>Server:</b> #{app.env.database.server}<br /><b>Database:</b> #{app.env.database.dbName}
        h3 Release Notes
        != app.releaseNotes
        h3 Files Changed (#{app.releaseFiles.length})
        p The following files have changed as part of this release:
          ul
            each file in app.releaseFiles
              li= file